P5A_PROBE_ID=probe-xx
P5A_LOCATION=location-name
P5A_GROUP_ID=group_m15_YYYYMMDDTHHMM00Z
P5A_COLLECTOR_OBJECT_URL=http://COLLECTOR_HOST:28115/api/v1/e4a/object/upload
P5A_CONNECT_TIMEOUT_SECONDS=10
P5A_MAX_TIME_SECONDS=900
P5A_CURL_RETRY=2
P5A_CURL_RETRY_DELAY=5
